* {
  /* border: 0.5px solid lime; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar-logo {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 760px) {
  .navbar-container-mobile {
    background-color: #242424;
    position: absolute;
    width: 100%;
  }
  .menu-icon {
    font-size: 25px;
    color: #fff;
  }
  /* three bars not seen while shrinking {*/
  .top-bar {
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
  }
  .navmenu {
    display: none;
  }

  .navmenu-active {
    display: inline-block;
    width: 100%;
  }

  .navlinks,
  .navlinks-active,
  .signup,
  .signup-active {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    color: #fff;
  }
  /* .navlinks-active {
  color: rgb(28, 97, 236);
} */

  .signup,
  .signup-active {
    border: 1px solid white;
    margin: 15px;
    transition: 0.4s ease-out;
  }

  .signup:hover,
  .signup-active:hover {
    background-color: #fff;
    color: #242424;
  }
  .navlinks:hover,
  .navlinks-active:hover {
    background-color: white;
    color: #242424;
    transition: 0.4s ease-out;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 761px) {
  .menu-icon {
    display: none;
  }

  .navbar-container {
    display: flex;
    background-color: #242424;
    justify-content: space-between;
    padding: 20px 25px;
    padding-top: 28px;
    height: max-content;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  .navlinks,
  .navlinks-active,
  .signup,
  .signup-active {
    color: #fff;
    padding: 20px;
    font-size: 20px;
  }

  .signup,
  .signup-active {
    border: 1px solid white;
    margin: 15px;
    margin-top: 18px;
    transition: 0.4s ease-out;
  }

  .signup:hover,
  .signup-active:hover {
    background-color: #fff;
    color: #242424;
  }

  .navlinks:hover,
  .navlinks-active:hover {
    border-bottom: 3px solid white;
    transition: 0.4s ease-out;
  }

  .navlinks-active {
    color: rgb(28, 97, 236);
    border: 0px solid white;
  }
}
